/* Set the body background */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#board {
  background-color: lightblue;
  border: 2px solid black;
  background: url(flappybirdbg.png) no-repeat center center;
  background-size: cover;
  display: block;
}
